<p id="notice"><%= notice %></p>

<h1>My Songs</h1>
<p><%= link_to new_song_path do %>
    <span class="glyphicon glyphicon-plus"></span> Add
    <% end %>
</p>

<div class="row">
  <%= @songs.each do |song| %>
    <div class="col-md-6">
      <div class="well">
        <h2><%= link_to song.name, song %></h2>
        <h3>by <%= link_to song.artist.name, song.artist %></h3>
        <p>
          <% "#{song.rating}".to_i.times do %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
        </p>
        <h4><%= link_to edit_song_path(song) do %>
            <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to song, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            <% end %>
        </h4>
      </div>
    </div>
  <% end %>
</div>
